.navbar navbar-expand-lg navbar-light bg-light {
  font-family: 'Cabin', sans-serif;
}
.row-md-8 img {
  width: 70%;
  padding:20px;
  object-position: center;
  border-radius: 50%;
  border: 10px solid #EFC4C0;
  margin-left: 50px;

}
.jumbotron jumbotron-fluid {
  position: relative;
}
.display-4 {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  color: #FAF4F3;
  text-transform: uppercase;
  letter-spacing: 1.2px;

}
.row {
  padding-bottom: 75px;
  width: 78%;
  margin: 0 auto 0;

}
.navbar-brand {
  font-family: 'Quicksand', sans-serif;
}
row-md-2 {
  padding-bottom: 75px;
  width: 78%;
  margin: 0 auto 0;
}
a {
  color: #FAEDEC;
}
h2, h3, h4, h5, p {
    font-family: 'Quicksand', sans-serif;
    color: #CF9690;
    text-transform: uppercase;
}


.lead {
  color: #E2C0BC;
}
.highlight {
  background-color: #E7CAC7;
}
ul {
  font-family: 'Roboto Slab', serif;
  color: #674B48;
}
.jumbotron{
    background-color: #C8D7DF;
    text-align: center;
    color: #EFC4C0;
}
.col-md-7 {
  padding-top: 20px;
  padding-left: none;
   background-clip: content-box;
   padding-right: 100px;
}
.my-4 {
  width: 80%;
}
.intro {
    color: #9BBACC;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}
img {
  color: #CF9690;
}
