.col-md-5 {
  background-clip: content-box;
  padding: 10px;
  width: 300px;
}
.col-md-7 {
  background-clip: content-box;
  width: 700px;

}
.col-md-5 img {
  width: 80%;
  height: 80%;
  align-content: center;
}
.row-md-4 {
  padding: 5px;
}
.container {
  max-width: 50%;
  margin: 0 auto 0;
  margin-bottom: 5px;

}
h1 {
  color: #33485e;
  font-weight: bold;
  margin-bottom: 0;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  text-align: center;

}
h2 {
  font-family: 'Raleway', sans-serif;
}


.highlight {
  background-color: #33485e;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}


p {
  font-family: 'Roboto', serif;
}
.personal {
  text-align: center;
  color: gray;
  font-style: italic;
  font-weight: bold;

}
