
h1 {
  color: #33485e;
  font-weight: bold;

}

body {
  length: 800px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Roboto Slab', serif;
}

.center-top-content {
  text-align: center;
  border-bottom: solid;
}
.headerfont {
  font-family: 'Raleway', sans-serif;
}
h2 {
  background-color: #33485e;
  color: white;
  padding: 5px;
}
.uppercase {
  text-transform: uppercase;
}
li {
  display: inline;
  list-style-type: none;
  border-right: solid;
  text-align: center;
}
.personal {
  text-align: center;
  color: gray;
  font-style: italic;

}
.main-content {
  width: 80%;
  text-align: center;
}
